.container{
    margin:4em;
    text-align: center;
    --bt-color: #79340b;
    --bb-color: #5ebcfa;
    --tf-color: #04cef1;
    --sf-color: #ec3737;
  }

.container h3 {
    font-family: Helvetica, Sans-serif; 
    color: #554313;
    margin:0; 
    padding:0; 
    font-weight:300;
  }
  
  .container h3 {
    font-size: 2em;
    opacity: 0;
    animation: appear 1s 3s forwards;
  }
  
  .loader {
    margin:auto;
    margin-top: 3em;
   
    border: 1em solid rgb(231, 221, 221);
    width: 8em;
    height: 8em;
    border-top-color: var(--bt-color);
    border-bottom-color: var(--bb-color);
    border-radius: 50%;
    animation: coloredspin 4s linear infinite;
  }
  
  @keyframes spin {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
  
  @keyframes coloredspin {
    0%{
      transform: rotate(0deg) scale(1);
      border-top-color: var(--bt-color);
      border-bottom-color: var(--bt-color);
    }
    25% {
      border-top-color: var(--tf-color);
      border-bottom-color: var(--tf-color);
    }
    50% {
      transform: rotate(360deg) scale(1.05);
      border-top-color: var(--bb-color);
      border-bottom-color: var(--bb-color);
    }
    75% {
      border-top-color: var(--sf-color);
      border-bottom-color: var(--sf-color);
    }
    100%{
      transform: rotate(720deg) scale(1);
      border-top-color: var(--bt-color);
      border-bottom-color: var(--bt-color);
    }
  }
  
  @keyframes appear {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }